.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
}

.header__menu {
  padding-bottom: 4px;
  padding-right: 24px;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.header__links-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__links-list-item {
  list-style: circle;
  margin: 17px;
}

.header__links-list-item a {
  display: inline-block;
}

.header__links-list-item_no-bullit {
  list-style: none;
  margin-left: 50px;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
  padding-bottom: 93px;
  padding-top: 88px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-left: 193px;
}

.header_address a {
  display: block;
}

.cover {
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125% 100%;
  position: relative;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 124px;
  text-transform: uppercase;
  color: #fff;
  padding: 165px 50px 118px;
  z-index: 2;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 51px;
  z-index: 2;
}
.cover__description-text {
  display: inline;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 78px;
  padding-right: 79px;
  padding-bottom: 62px;
  word-spacing: 18px;
}

.bet-button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  display: inline-block;
  justify-content: end;
  border: 1px solid currentColor;
  background-color: transparent;
  margin-right: 50px;
  padding: 12px 32px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  margin: 179px auto 27px 64px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.lots__card-list-item {
  display: block;
  width: 334px;
  min-height: 563px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-position: center;
  background-size: 165%;
  position: relative;
}

.card__title {
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
  margin: 51px 40px auto;
  z-index: 2;
}

.card__text {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin: auto 40px 48px;
  z-index: 2;
}
.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-top: 30px;
  margin-left: 60px;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(240px, 1fr);
  grid-template-areas:
    "about__logo about__title ."
    ". about__text about__text";
  margin: 180px 25px auto;
  gap: 10px 25px;
  justify-items: center;
}

.about__logo {
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.about__logo-image {
  width: 148px;
}
.about__title {
  grid-area: about__title;
  align-self: center;
  justify-self: start;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-top: 10px;
}

.about__text {
  grid-area: about__text;
}

.about__text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__text p:first-of-type {
  margin-bottom: 25px;
}

.footer {
  margin: 180px 50px 88px;
  display: flex;
  justify-content: space-between;
}

.footer .address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-left: 0;
}

.footer__menu {
  margin-left: 85px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.12px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  display: inline;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  margin-left: 44px;
}

.footer__social-link {
  text-decoration: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  inset: 0;
  position: absolute;
}

.ls30 {
  letter-spacing: 30px;
}
